html {
  /* For parallax: */
  height: 100%;
  font-size: 20px;
}

body {
  margin: 60px 6em;
  background-color: #fff;
  color: #666;
  /* For parallax: */
  height: 100%;
  color: #fff;
  background: #333333;
  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(
    to top,
    #44595a 1%,
    #2f5661 30%,
    #102952 100%
  );
  background-image: linear-gradient(
    to top,
    #44595a 1%,
    #327c90 30%,
    #062e6e 100%
  );
  background-size: 100% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  border-bottom: 2px solid red;
}

h1,
h2,
h3 {
  font-weight: 100;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

#bodyDiv {
  border: 1px dashed #f0db4f;
  padding: 0px 40px;
}
